---
import Social from "./Social.astro"

const platform = 'https://github.com/Gokai9'
const username = 'Gokai'
---

<footer>
    <p>Learn more about my projects on <Social platform={platform} username={username}/>!</p>
  </footer>